* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    }

a {
    text-decoration: none;
    }

a:hover {
    text-decoration: underline;
    }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    }

body {
    background: #5B9BD5;
    font-family: sans-serif;
    }

#container {
    margin: 40px;
    background: #FFFFFF;
    padding: 40px;
    }

footer {
    margin-top: 20px;
    text-align: center;
    }
