<section id="register">
    <div class="container centered">
        {{>header}}

        <div class="box">
            <h1>Register</h1>
            <div class="content">
                <form id="register-form">
                    <label for="newUsername">Username</label>
                    <input id="newUsername" type="text">
                    <label for="newPassword">Password</label>
                    <input id="newPassword" type="password">
                    <label for="newPassRep">Repeat Password</label>
                    <input id="newPassRep" type="password">
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>

        {{>footer}}
    </div>
</section>